<!-- <nb-layout>
  <nb-layout-column class="bg-stone-900">
    <div class="flex justify-center items-center " style="height:95vh;">
      <nb-card class="w-full md:w-[70%] lg:w-[60%] xl:w-[40%] 2xl:w-[40%] ">
        <div class="flex flex-col items-center w-full p-6 bg-white rounded-lg shadow-2xl h-[550px] overflow-y-auto ">
          <h5 class="text-center">Choose a Category</h5>
          <nb-form-field class="w-full mt-4">
            <input class="inputStyle" [type]="'text'" nbInput fullWidth nbInput [(ngModel)]="searchText"
              (ngModelChange)="onSearchChange($event)" placeholder="Search" />
            <nb-icon nbPrefix [icon]="'search-outline'" pack="eva"></nb-icon>
          </nb-form-field>
          <nb-list class="mt-4 w-full cursor-pointer px-2" (click)="showQuestions()">
            <nb-list-item *ngFor="let item of items" class="border-2 my-3">
              - {{ item.name }}
            </nb-list-item>
          </nb-list>
        </div>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout> -->


<header>
  <nav class="navbar navbar-expand-xl navbar-light fixed-top bg-white p-4 shadow p-3 bg-white rounded">
    <div class="container-fluid">
      <div class="row w-100">
        <div class="col-xl-10 mx-auto">
          <img src="../../../assets/images/header_logo.svg" style="cursor:pointer;" alt="">
        </div>
      </div>
    </div>
  </nav>
</header>


<div class="container-fluid">
  <div class="row m-0" style="position: relative; top: 155px;">
    <div class="col-xl-10 col-md-12 mx-auto">
      <div class="row d-flex justify-content-start">
        <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let item of items">
          <div class="card shadow " [ngClass]="active === item.name ? 'activeCard' : 'selectedClr'"
            style="border-radius: 30px;">
            <button style="height: 172px; " (click)="showQuestions(item.name)">
              <div class="d-flex justify-content-center align-items-center">
                <img [src]="item.img">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-xl-10 mx-auto">
      <div class="d-flex" style="position: relative;padding-top: 210px;">
        <p class="" style="opacity: 0.6; font-size: 30px; font-weight: 400;">{{active? active : selectedItem}} ></p>
        <p *ngIf="selectedSubItem" class="my-2 text-space ps-2 mb-1 mt-0"
          style="color:#F1647B;font-size: 30px;font-weight: 500;">{{
          selectedSubItem.name }}</p>
      </div>
    </div>
  </div>

  <div class="row m-0 pt-4">
    <div class="col-xl-10 mx-auto">
      <div class="row">
        <div class="col-xl-4">

          <div class="card shadow mb-5" style="border: none;">
            <div class="card-body">
              <div class="set-padding" style="line-height: 57.5px;">
                <div class="fix-div" *ngFor="let create of showItems" (click)="onSelectItem(create)"
                  [ngClass]="{ 'selected': create == selectedSubItem }">
                  <p class="text-space ml-4">
                    {{create.name}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-1">
          
        </div> -->
        <div class="col-xl-8 mt-4 mt-xl-0" >
          <app-assessment-final></app-assessment-final>
        </div>
      </div>
    </div>
  </div>
</div>
