<!-- <nb-layout>
  <nb-layout-column class="bg-stone-900">
    <div class="flex justify-center items-center " style="height:95vh;">
      <nb-card class="w-full md:w-[70%] lg:w-[60%] xl:w-[40%] 2xl:w-[40%] ">
        <div class="flex flex-col items-center w-full p-6 bg-white rounded-lg shadow-2xl h-[515px] overflow-y-auto ">
          <h5 class="text-center">Choose an Assessment to begin</h5>
          <nb-form-field class="w-full mt-4 ">
            <input class="inputStyle " [type]="'text'" nbInput fullWidth nbInput [(ngModel)]="searchText"
              (ngModelChange)="onSearchChange($event)" placeholder="Search" />
            <nb-icon nbPrefix [icon]="'search-outline'" pack="eva"></nb-icon>
          </nb-form-field>

          <nb-list class="mt-4 w-full cursor-pointer" (click)="showQuestions()">
            <nb-list-item *ngFor="let item of items" class="border-2 my-4">
              - {{ item.name }}
            </nb-list-item>
          </nb-list>
        </div>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout> -->



<header>
  <nav class="navbar navbar-expand-xl navbar-light fixed-top bg-white p-4 shadow p-3 mb-5 bg-white rounded">
    <div class="container-fluid">
      <div class="row w-100">
        <div class="col-xl-10 mx-auto">
          <img src="../../../assets/images/header_logo.svg" style="cursor:pointer;" alt="">
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="row m-0" style="position: relative; top: 145px;" (click)="onEdit()">
  <div class="col-xl-10 mx-auto">
    <div class="row">
      <div class="col-xl-6">
        <p class="font-bold" style="font-size: 30px;">Choose an Assessment to begin</p>
        <div class="row mt-4">
          <div class="col-12 mb-4 d-flex justify-content-start" *ngFor="let item of items">
            <button class="btn-block" style="height: 172px; width: 419px;" (click)="showQuestions(item.name)">
              <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                <img [src]="item.img">
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
       <img src="../../../assets/images/AWS bg.svg" class="img-fluid">
      </div>
    </div>
  </div>
</div>
