.btn-block {
    background-color: transparent; 
    border: 2px solid transparent; 
    transition: background-color 0.3s, border-color 0.3s; 
  }

  .btn-block:hover {
    background-color: white;
    border-color: #F1647B;
    border-radius: 30px;
  }
  