<nb-layout>
    <nb-layout-column>
        <div class="flex items-center justify-center min-h-screen">
            <div class="flex flex-col items-center max-w-md w-full p-6 bg-white rounded-lg shadow-2xl">
              <p class="text-center">Choose an Assessment to begin</p>
              <nb-form-field class="w-full mt-4">
                <input
                  class="inputStyle"
                  [type]="'text'"
                  nbInput
                  fieldSize="medium"
                  nbInput
                  placeholder="Search"
                />
                <nb-icon nbPrefix [icon]="'search-outline'" pack="eva"></nb-icon>
              </nb-form-field>
              <nb-list class="mt-4 w-full">
                <nb-list-item *ngFor="let item of items" class="border-2 my-3">
                  - {{ item.name }}
                </nb-list-item>
              </nb-list>
            </div>
          </div>
              </nb-layout-column>
  </nb-layout>
