<nb-layout>
  <nb-layout-column class="bg-stone-900">
    <div class="flex justify-center items-center" style="height: 95vh;">
      <nb-card class="w-full md:w-[70%] lg:w-[60%] xl:w-[40%] 2xl:w-[40%]">
        <div class="flex flex-col justify-center items-center leading-loose w-full p-6 bg-white rounded-lg shadow-2xl h-[365px] overflow-y-auto">
          <div *ngIf="currentQuestionIndex !== undefined">
            <div *ngFor="let item of [assessmentListArray[currentQuestionIndex]]">
              <p>{{ item?.title }}</p>
              <div *ngFor="let option of item?.options">
                <div *ngIf="item.settings?.multiple == false">
                  <nb-radio [value]="option?.code" (click)="selectedOption = option?.code" (click)="onCheck($event)">{{ option?.code }}</nb-radio>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nb-card-footer class="bg-white" *ngIf="currentQuestionIndex !== undefined">
          <div class="row">
            <div class="col-12 flex justify-end">
              <img src="../../../assets/images/restart.png" class="img-fluid">
              <button type="submit" size="medium" class="mx-3 float-end" nbButton style="width: 90px">Perv</button>
              <button type="submit" size="medium" class="float-end" nbButton (click)="nextQuestion()" status="info" [disabled]="!showContent">
                Next
              </button>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
